
# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
code/gerenciador-concursos/nbproject
code/gerenciador-concursos/build/
code/gerenciador-concursos/nbbuild/
code/gerenciador-concursos/dist/
code/gerenciador-concursos/nbdist/
code/gerenciador-concursos/.nb-gradle/
code/gerenciador-concursos/web/META-INF
code/gerenciador-concursos/web/WEB-INF
code/gerenciador-concurso/build.xml
code/gerenciador-concurso/src/java/Configuracoes/ConfiguracaoBD.java
# End of https://www.gitignore.io/api/netbeans
/code/gerenciador-concursos/src/java/Configuracoes/