html {
  position: relative;
  min-height: 100%;
}
body {
 
  margin-bottom: 60px;
  overflow-x: hidden;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  color: black;
}

label{
	display: block;
}
input,textarea{
    max-width: 70%;
}
.container-fluid{
	padding-right:0 !important;
	padding-left:0!important;
}
.navbar{
	width: 101%;
	right: 5px;
}
.container .formulario{
	padding: 200px 200px 200px 200px;
}

/*.par{
	background-color: grey;
}
.impar{
	background-color: green;
}*/
#popup{
	margin-left: 7%;

	position: fixed;
	max-height: 50%;
	display: block;
	z-index: 1;

}
.colaboradores{
    display: block;
    cursor: pointer;
}

.colaboradores:hover{
    background-color: #efe3e3;
}
.glyphicon-remove{
    cursor:pointer;
}

.tabela{
    font-size: 30px;
    border: 3px solid #C0C0C0;
    width:100%
    float: reight;
    position: absolute;
    margin-top: 20px;
    margin-left: 500px;     
}